<!DOCTYPE html>
<html>
<head>
  <title><%= CONFIG.title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'main/header' %>
  <div class="body">
    <header class="header"></header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="navbar-fixed-bottom footer">
      By Gen
    </footer>
  </div>

</body>
</html>
